<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>Arithmetic</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Arithmetics</display-name>
    <servlet-name>Arithmetics</servlet-name>
    <servlet-class>Arithmetic.Arithmetics</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Arithmetics</servlet-name>
    <url-pattern>/Arithmetics</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logindetais</display-name>
    <servlet-name>Logindetais</servlet-name>
    <servlet-class>Arithmetic.Logindetais</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logindetais</servlet-name>
    <url-pattern>/Logindetais</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logindetails</display-name>
    <servlet-name>Logindetails</servlet-name>
    <servlet-class>Arithmetic.Logindetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logindetails</servlet-name>
    <url-pattern>/Logindetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Operator</display-name>
    <servlet-name>Operator</servlet-name>
    <servlet-class>Arithmetic.Operator</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Operator</servlet-name>
    <url-pattern>/Operator</url-pattern>
  </servlet-mapping>
</web-app>